<%= form_with(model: ingresar, local: true) do |form| %>
  <% if ingresar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingresar.errors.count, "error") %> prohibited this ingresar from being saved:</h2>

      <ul>
      <% ingresar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Mascota %>
    <%= form.text_field :Mascota, id: :ingresar_Mascota %>
  </div>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :Nombre, id: :ingresar_Nombre %>
  </div>

  <div class="field">
    <%= form.label :Raza %>
    <%= form.text_field :Raza, id: :ingresar_Raza %>
  </div>

  <div class="field">
    <%= form.label :Sexo %>
    <%= form.text_field :Sexo, id: :ingresar_Sexo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
