<%= form_with(model: aguacatero, local: true) do |form| %>
  <% if aguacatero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aguacatero.errors.count, "error") %> prohibited this aguacatero from being saved:</h2>

      <ul>
      <% aguacatero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :aguacatero_name %>
  </div>

  <div class="field">
    <%= form.label :raza1 %>
    <%= form.text_field :raza1, id: :aguacatero_raza1 %>
  </div>

  <div class="field">
    <%= form.label :raza2 %>
    <%= form.text_field :raza2, id: :aguacatero_raza2 %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo, id: :aguacatero_sexo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
